* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}


body {
    background:linear-gradient(90.42deg, #C0ECFF 8.43%, #98D7F2 45.17%, #37C3FF 99.62%);
}





/*Header */
header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 0px 75px 75px;
    background-color: white;
    width: 100%;
    height: 15vh;
    z-index: 999;
}
.main-logo{
   position: absolute;
    left: 2.5vw;
    border-radius: 50%;
}
.main-logo img{
    height: 12vh;
    width: auto;
}
.nav-link{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.nav-link img{
    height: 50px;
    width: auto;
    
}
.nav-link  p{
    text-align: center;
}
.nav-link a{
    color: black;
}
.myProfile{
    position: absolute;
    right: 5vw;
    
    
}
.myProfile img{
    height: 10vh;
    width: auto;
    top: 50%;
}
.myProfile p{
    text-align: center;
}






/* HOME */

#home{
    
    display: flex;
     
    justify-content: center;
    width: 100%;
    height: 100vh;
}
  .main-heading{
    margin-top: 20vh;
    font-size: 15vh;
    color: #32CCFE;
    -webkit-text-stroke: 2px black;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 .head-white{
    color: #fff;
 }
 .main-info{
    position: absolute;
    left: 5%;
    top: 50%;
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
 .main-info h2{
    font-size: 8vh;
    font-weight: bold;
 }
 .main-info h3{
    font-size: 5vh;
 }
.home-right{
    position: absolute;
    right: 5%;
    bottom: 0px;
}
.home-right img{
    height: 75vh;
}






/*About*/
#about{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #C0F8FA;
    display: flex;
    justify-content: center;
}
.about-Head h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15vh;
    color: #32CCFE;
    -webkit-text-stroke: 2px black;
    margin-top: 20vh;
}
.about-img{
    position: absolute;
    left: 5%;
    top: 40%;
    
}
.about-img img{
    width: auto;
    height: 45vh;
}
.about-discription{
    position: absolute;
    right: 5%;
    top: 40%;
}
.about-discription h5{
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
}







/*servicesSection*/
#services{
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.service-head h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    margin-top: 20vh;
}
.service-cards{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40%;
    gap: 7vh;
    
}
.service-cards .card img{
    width: auto;
    height: 45vh;
}




/* Doctor */
#doctor{
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    background: #C0F8FA;
}
.doctor-head h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #32CCFE;
    -webkit-text-stroke: 2px black;
    margin-top: 20vh;
}





/* FAQ */

#faq{
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.faq-head h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    margin-top: 20vh;
}


.questionsBox{
    position: absolute;
    display: flex;
    height: 60vh;
    width: 60vw;
    left: 7vw;
    bottom: 0px;
}
 
.question{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 10vh;
    background: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}


.question p{
    position: absolute;
    font-size: 24px;
    left: 1.5vw;
    font-weight: bold;

}
.question button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    height: 42px;
    width: 42px;
    border-width: 0px;
    right: 1.5vw;
    border-radius: 50%;
}

.smb {
    font-size: 42px;
    font-weight: bolder;
    line-height: 1;
    position:absolute;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.smb.active{
    transform: rotate(45deg);
}
.ans{
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 10vh;
    background: #D9D9D9;
    border-radius: 25px;
    z-index: -1;
    transition: height 0.1s ease-in-out
}
.ans.active{
    position: absolute;
    display: flex;
    
    width: 80%;
    height: 25vh;
    background: #D9D9D9;
    border-radius: 25px;
    z-index: -1;
    padding-top: 11vh;
}
.ans p{
    position: absolute;
    display: none;
    font-size: 22px;  
    left: 1.5vw;
}
.ans p.active{
    position: absolute;
    display: block;
    font-size: 22px;  
    left: 1.5vw;
}

.faqForm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 60vh;
    background: #A6E3E5;
    bottom: 7vh;
    right: 3vw;
    border-radius: 50px;
    flex-direction: column;
    
}
.faqForm img{
    position: absolute;
    width: 35%;
    height: auto;
    top: 10%;
}
.faqForm h1{  
    position: absolute;
    top: 40%;
    font-size: 37px;
}
.faqForm p{
    position: absolute;
    top:55%;
    text-align: left;
    font-size: 20px;
    left: 20px;
   
}
.faqinput{
    position: absolute;
    height: 35px;
    width: 90%;
    bottom: 12%;
    background: transparent;
}
.faqForm label{
    position: absolute;
    bottom: 22%;
    left: 30px;
    font-size: 20px;
    font-weight: bold;
}
.faqForm button{
    position: absolute;
    height: 30px;
    width: 80px;
    bottom: 10px;
    background: #D9D9D9;
    border-radius: 15px;
    border-width: 2px;
}